@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 343 100% 61%; /* #ff3f6c */
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
  }

  body {
    @apply bg-background-subtle text-secondary-dark antialiased font-sans;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20;
  }
  
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
